* {
  list-style: none;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  color: #2577fd;
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.success {
  color: #4bb543 !important;
}

.title {
  color: #2577fd;
  text-transform: uppercase;
}

.title-home {
  font-size: 30px;
  color: #2577fd;
  text-align: center;
  text-transform: uppercase;
}

.todo-item {
  margin: 6px 8px;
  display: flex;
  width: 300px;
  height: 70px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1.2px;
}

.item-star {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-status {
  margin: 0 8px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.item-body {
  flex: 1;
}

.todo-name {
  color: #2577fd;
  font-size: 14px;
  margin: 1px 0;
}

.todo-time {
  color: #868c98;
  font-size: 14px;
  margin: 1px 0;
}

.todo-status {
  color: #868c98;
  font-size: 14px;
  margin: 1px 0;
}

.item-end {
  margin: 0 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.item-icon {
  margin: 0px;
}

.vertical-timeline::before {
  background: #ccc !important;
}

.vertical-timeline-element-content {
  -webkit-box-shadow: 0 3px 0 #4bb54385 !important;
  box-shadow: 0 3px 0 #4bb54385 !important;
}

.vertical-timeline-element-title {
  color: #2577fd;
  font-size: 20px !important;
}

.vertical-timeline-element-subtitle {
  color: #ccc;
}

.vertical-timeline-element-desc {
  color: #ccc;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper .left {
  width: 35%;
  background: linear-gradient(to right, #01a9ac, #01dbdf);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4 {
  margin-bottom: 10px;
}

.wrapper .left p {
  font-size: 12px;
}

.wrapper .right {
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .social_media ul {
  display: flex;
}

.wrapper .social_media ul li {
  width: 45px;
  height: 45px;
  background: linear-gradient(to right, #01a9ac, #01dbdf);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a {
  color: #fff;
  display: block;
  font-size: 18px;
}
